/* Seção sobre */
.secao-sobre {
    background-color: #F8F7FF;
    padding: 100px 20px;
    text-align: center;
  }
  
  .container-sobre p {
    line-height: 32px;
  }
  
  .box-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .box-cards img,
  .card {
    width: 50%;
    border: 1px solid #a2adad;
    max-height: 300px;
  }
  
  .box-cards img {
    object-fit: cover;
  }
  
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    background-color: #fff;
  }
  
  .card h4 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Anybody', cursive;
    line-height: 42px;
    letter-spacing: 5px;
  }
  
  .card p {
    font-size: 22px;
    color: #4a4a4a;
  }
  
  
  @media (max-width: 768px) {
    .secao-sobre {
      padding: 60px 20px;
    }
  
    .card {
      padding: 15px;
    }
    .card h4 {
      font-size: 22px;
    }
    .card p {
      font-size: 16px;
    }
  }
  @media (max-width: 550px) {
    .secao-sobre {
      padding: 60px 10px;
    }
    .box-cards {
      flex-direction: column;
    }
    .box-cards img,
    .card {
      width: 100%;
      height: 300px;
    }
  
  }