.secao-capa {
    height: 80vh;
    background: linear-gradient(47deg, #000113 0%, #04061D 80%, #04061D 100%);
    background-image: url('/public/assets/capa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .secao-capa div {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .secao-capa p,
  .secao-capa h1
  {
    max-width: 500px;
    font-family: 'Anybody', cursive;
  }
  
  .secao-capa p {
    font-size: 36px;
    color: rgb(196, 196, 196);
  }
  
  .secao-capa h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    margin: 0;
    line-height: 70px;
    letter-spacing: 5px;
  }
  
  @media (max-width: 768px) {
    .secao-capa h1 {
      font-size: 40px;
      max-width: 350px;
    }
    .secao-capa p {
      font-size: 20px;
    }
  }
  
  @media (max-width: 550px) {
    .secao-capa {
      background-position: 89% center;
    }
    .secao-capa div {
      background-color: rgba(0,0,0,0.6);
    }
  }